Pipfile.lock
**/node_modules/
**/dist
.git
npm-debug.log
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.mypy_cache
.tox
build
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
logs
.vscode
.idea
*.egg-info/