[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appium-python-client = "*"
selenium = "*"
webdriver-manager = "*"
pytest = "*"
tox = "*"
pytest-cov = "*"
flake8 = "*"
mypy = "*"
no-implicit-optional = "*"
pyyaml = "*"
bandit = "*"
types-pyyaml = "*"
faker = "*"
psutil = "*"
toml = "*"
types-toml = "*"
pymongo = "*"
celery = "*"
setuptools = "*"
loguru = "*"
uplink = "*"
isort = "*"
black = "*"
pre-commit = "*"
openai = "*"
cryptography = "*"
pytest-xdist = "*"
allure-pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
